<div class="faq_list_wrap w1760 mt100">
  <h3>FAQ</h3>
  <article class="faq_list_table_wrap">
    <div class="faq_list_title">
      <ul>
        <li class="faq_list_num">번호</li>
        <li class="faq_list_cont">제목</li>
        <li class="faq_list_write">작성자</li>
        <li class="faq_list_day">등록일</li>
        <li class="faq_list_view">조회수</li>
      </ul>
    </div>
    <% rows.forEach((row,index)=>{  %>
    <div class="faq_list_body">
      <ul class="faq_list">
        <li class="faq_list_num"><%= row.num %></li>
        <li class="faq_list_cont"><%= row.title %></li>
        <li class="faq_list_write"><%= row.wirte %></li>
        <li class="faq_list_day"><%= row.create_time %></li>
        <li class="faq_list_view"><%= row.view %></li>
      </ul>
      <div class="faq_list_content">
          <p><%= row.cont %></p>
        <!-- 수정,삭제버튼 -->
          <div class="emend_delete_faq_btn_box">
            <button type="button" id="faq_emend" onclick="javascript:location.href='/updateF?num=<%= row.num %>'">수정</button>
            <button type="button" id="faq_delete" onclick="javascript:location.href='/deleteF?num=<%= row.num %>'">삭제</button>
          </div>
      </div>
    </div>
    <% }); %>
      <!-- 글작성 버튼 -->
    <div class="write_faq_btn_box mt40">
      <button type="button" id="faq_write" onclick="location.href='/faq_new'">글쓰기</button>
    </div>
  </article>
</div>
<script src="js/faq.js"></script>