<div class="notice_list_wrap w1760 mt100">
  <h3>NOTICE</h3>
  <article class="notice_list_table_wrap">
    <div class="notice_list_title">
      <ul>
        <li class="notice_list_num">번호</li>
        <li class="notice_list_cont">제목</li>
        <li class="notice_list_write">작성자</li>
        <li class="notice_list_day">등록일</li>
        <li class="notice_list_view">조회수</li>
      </ul>
    </div>
    <div class="notice_list_body">
      <% rows.forEach((row,index)=>{  %>
      <ul class="notice_list"  onclick="javascript:location.href='/notice_view?num=<%= row.num %>'">
        <li class="notice_list_num"><%= row.num %></li>
        <li class="notice_list_cont"><%= row.title %></li>
        <li class="notice_list_write"><%= row.wirte %></li>
        <li class="notice_list_day"><%= row.Date %></li>
        <li class="notice_list_view"><%= row.view %></li>
      </ul>
      <% }); %>
    </div>

    <!-- 글작성 버튼 -->
    <div class="write_notice_btn_box mt40">
     <button type="button" id="notice_write" onclick="javascript:location.href='/notice_new'">글쓰기</button>
    </div>  
  </article>
</div>